@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,800&display=swap');
/* .container {
    width: 100%;
    height: auto;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  } */
  /* .top-container {
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1484627147104-f5197bcd6651?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&w=1000");
    background-position: 0% 40%;
  } */

  /* .container {
    background-image: url(../../images/landingpageimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  } */

  *{
    font-family: 'Open Sans', sans-serif;
  }

  .Landing{
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-image: url(../../images/landingpageimage.jpg);
    background-position: center;
  }

  .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 250%;
    font-weight: 700;
    font-style: italic;
    font-size: 3em;
    color:white;
  }