.containerz {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  font-family: 'Manrope', sans-serif;
  color: #006a92;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom:1em;
  border-radius: .5em;
  background-color: #fac022f6;
  border-radius: 1.5em;
  padding: 1em;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.884);
  overflow-x:hidden;
  overflow-y:hidden;

}

.containerz h2{
  font-size: 18px;
}

.hotel-card {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom:1em;
  background-color: #1900fff6;
  padding: 2em;
}