.Plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16.66rem;
    margin: 0 .5rem 2.3rem .5rem;
    box-shadow: 0 0 transparent, 0 0 transparent, 0px 7px 35px rgba(180, 189, 223, 0.4);
    padding: 0.8em;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: box-shadow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: white;
  }
  
  .Plan:hover {
    box-shadow: 0 10px 20px 4px rgba(35,35,35,0.1);
  }
  
  .Plan .image-container {
    height: 16.66rem;
    margin-bottom: 1rem;
    /* background-image: url(../../images/rome.jpg); */
    background-size: 100% 100%;

  }
  
  .Plan h2 {
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .plan-information{
    /* margin: 0 auto; */
    /* text-align: left; */
  }

  .plan-information p {
    font-size: .88rem;
    font-weight: 300;
    line-height: 1rem;
  }
  
  .delete-btn {
    color: #D3D3D3;
    font-size: 20px;
    /* background-color: red; */
  }

  .delete-btn:hover{
    color: black;
  }